[init]
    defaultBranch = master

[core]
	editor = nvim

[commit]
	gpgsign = true

[user]
	signingkey = 212F0EEA7961F05E

[gpg]
	program = gpg

[includeIf "gitdir:~/projects/"]
    path = ~/.config/git/.github/moein

[includeIf "gitdir:~/projects/w/"]
    path = ~/.config/git/.gitlab
