[init]
    defaultBranch = master

[includeIf "gitdir:~/projects/"]
    path = ~/.config/git/.github/moein

[includeIf "gitdir:~/projects/w/"]
    path = ~/.config/git/.gitlab
[core]
	editor = nvim

[commit]
	gpgsign = false
