[init]
    defaultBranch = master

[includeIf "gitdir:~/projects/"]
    path = ~/.config/git/.github/moein

[includeIf "gitdir:~/projects/w/"]
    path = ~/.config/git/.gitlab
[core]
	editor = nvim

[commit]
	gpgsign = true
[user]
	signingkey = A5BD212CC958843249699D0831C9C084C3F580EB
[gpg]
	program = gpg
